/* about */
.about__platforms::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 100px;
  background: -webkit-linear-gradient(
    to right,
    theme("colors.primary-main") 14%,
    theme("colors.playstation") 38%,
    #107b10 63%,
    theme("colors.nintendo") 100%
  );
  background: linear-gradient(
    to right,
    theme("colors.primary-main") 14%,
    theme("colors.playstation") 38%,
    #107b10 63%,
    theme("colors.nintendo") 100%
  );
  -webkit-filter: blur(90px);
  filter: blur(90px);
  z-index: -1;
}
.about__platform:nth-child(1):after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100%;
  left: 59px;
  border-left: 1px solid theme("colors.primary-main");
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}
.about__platform:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: 10;
  height: 100%;
  right: 59px;
  border-right: 1px solid theme("colors.primary-main");
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}
@media (max-width: 1439px) {
  .about__platforms::before {
    top: 25%;
    background: -webkit-linear-gradient(
      to right,
      theme("colors.primary-main") 14%,
      theme("colors.playstation") 100%
    );
    background: linear-gradient(
      to right,
      theme("colors.primary-main") 14%,
      theme("colors.playstation") 100%
    );
  }
  .about__platforms::after {
    content: "";
    position: absolute;
    top: 75%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    height: 100px;
    background: -webkit-linear-gradient(
      to right,
      #107b10 14%,
      theme("colors.nintendo") 100%
    );
    background: linear-gradient(
      to right,
      #107b10 14%,
      theme("colors.nintendo") 100%
    );
    -webkit-filter: blur(90px);
    filter: blur(90px);
    z-index: -1;
  }
  .about__platform:nth-child(3):after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    left: 59px;
    border-left: 1px solid theme("colors.primary-main");
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
  }
  .about__platform:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 10;
    height: 100%;
    right: 59px;
    border-right: 1px solid theme("colors.primary-main");
    -webkit-transform: skew(20deg);
    -ms-transform: skew(20deg);
    transform: skew(20deg);
  }
  .about__platform:nth-child(4)::after {
    -webkit-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    transform: skew(-20deg);
  }
}
@media (max-width: 767px) {
  .about__platform:nth-child(n)::after {
    display: none;
  }
}
@media (max-width: 575px) {
  .about__platforms::before {
    top: 50%;
    height: 20px;
    background: -webkit-linear-gradient(
      to right,
      theme("colors.primary-main") 14%,
      theme("colors.playstation") 38%,
      #107b10 63%,
      theme("colors.nintendo") 100%
    );
    background: linear-gradient(
      to right,
      theme("colors.primary-main") 14%,
      theme("colors.playstation") 38%,
      #107b10 63%,
      theme("colors.nintendo") 100%
    );
    -webkit-filter: blur(60px);
    filter: blur(60px);
  }
  .about__platforms::after {
    background: none;
  }
}
