.advantages__wrapper {
  position: relative;
}
.advantages__wrapper::before,
.advantages__wrapper::after {
  content: "";
  width: 100%;
  height: 120px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 10%;
  background: #4ef4328a;
  filter: blur(90px);
}
.advantages__wrapper::after {
  display: none;
}
@media (max-width: 1199px) {
  .advantages__wrapper::before {
    height: 71px;
    top: 25%;
    left: 0;
    transform: translateX(0%) translateY(-25%);
  }
  .advantages__wrapper::after {
    display: block;
    height: 71px;
    top: 75%;
    left: 0;
    transform: translateX(0%) translateY(-75%);
  }
}

.advantages {
  grid-template-columns: 1.3fr 1fr 1fr 1fr 1.3fr;
}
@media (max-width: 1199px) {
  .advantages {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* advantages2 */

.advantages2__wrapper {
  position: relative;
}
.advantages2__wrapper::before {
  content: "";
  width: 100%;
  height: 120px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 10%;
  background: theme("colors.primary-20");
  filter: blur(90px);
}
@media (max-width: 1199px) {
  .advantages2__wrapper::before {
    width: 120px;
    filter: blur(50px);
  }
  .advantage2:before {
    content: "";
    height: 120px;
    width: 120px;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 10%;
    background: theme("colors.primary-20");
    filter: blur(50px);
  }
}

.advantages2 {
  grid-template-columns: 1.3fr 1fr 1fr 1fr 1.3fr;
}

@media (max-width: 1199px) {
  .advantages2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .advantages2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background: linear-gradient(
      to top,
      #4ef4320a 0%,
      #4ef432 30%,
      #4ef432 70%,
      #4ef4320a 100%
    );
    z-index: -5;
  }
  .advantages2::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background: linear-gradient(
      to right,
      #4ef4320a 0%,
      #4ef432 30%,
      #4ef432 70%,
      #4ef4320a 100%
    );
    z-index: -5;
  }
}
