.advantages__wrapper {
  position: relative;
}
.advantages__wrapper::before,
.advantages__wrapper::after {
  content: "";
  width: 100%;
  height: 120px;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 10%;
  background: #4ef4328a;
  filter: blur(90px);
}
.advantages__wrapper::after {
  display: none;
}
@media (max-width: 991px) {
  .advantages__wrapper::before {
    height: 71px;
    top: 25%;
    left: 0;
    transform: translateX(0%) translateY(-25%);
  }
  .advantages__wrapper::after {
    display: block;
    height: 71px;
    top: 75%;
    left: 0;
    transform: translateX(0%) translateY(-75%);
  }
}

.advantages {
  clip-path: polygon(0% 0%, 89% 0%, 89% 100%, 0% 100%);
}
@media (max-width: 991px) {
  .advantages {
    flex-wrap: wrap;
    gap: 25px 0;
  }
}
@media (max-width: 575px) {
  .advantages {
    flex-wrap: wrap;
    gap: 8px 0;
  }
}

.advantage {
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 25% 100%);
}
.advantage:first-child {
  clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%);
}
.advantage:last-child {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);
}
.advantage:nth-child(1) {
  left: 0;
}
.advantage:nth-child(2) {
  left: -50px;
}
.advantage:nth-child(3) {
  left: -100px;
}
.advantage:nth-child(4) {
  left: -150px;
}
.advantage:nth-child(5) {
  left: -200px;
}
@media (max-width: 991px) {
  .advantage {
    max-width: calc(50% - 85px);
  }
  .advantage:nth-child(1) {
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
    left: -85px;
  }
  .advantage:nth-child(2) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    left: -115px;
  }
  .advantage:nth-child(3) {
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    left: -85px;
  }
  .advantage:nth-child(4) {
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    left: -115px;
  }
  .advantage:nth-child(5) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-width: calc(100% - 200px);
    width: 100%;
    left: -100px;
  }
}
@media (max-width: 575px) {
  .advantage {
    max-width: calc(50% - 50px);
    padding: 25px 60px 16px;
  }
  .advantage:nth-child(1) {
    clip-path: polygon(0% 0%, 85% 0%, 100% 100%, 0% 100%);
    left: -85px;
    padding: 25px 60px 16px;
  }
  .advantage:nth-child(2) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 15% 100%);
    left: -110px;
  }
  .advantage:nth-child(3) {
    clip-path: polygon(0% 0%, 100% 0%, 85% 100%, 0% 100%);
    left: -85px;
  }
  .advantage:nth-child(4) {
    clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    left: -110px;
  }
  .advantage:nth-child(5) {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-width: calc(100% - 200px);
    left: -100px;
    padding: 25px 60px 16px;
  }
}
