/* banner */
.banner,
.banner__container {
  width: calc(100vw - 15px);
  max-width: 1920px;
}
.banner__container {
  left: -16px;
}
.banner::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1920px;
  width: calc(100vw - 15px);
  height: 100%;
  background: linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 93%,
    theme("colors.main") 100%
  );
  background-size: 1920px auto;
  z-index: 1;
}
@media (max-width: 1920px) {
  .banner,
  .banner::before,
  .banner__container {
    max-width: 1700px;
  }
}
@media (pointer: coarse) {
  .banner,
  .banner::before,
  .banner__container {
    width: 100vw;
  }
}
@media (max-width: 1920px) {
  .banner,
  .banner::before,
  .banner__container {
    max-width: 1700px;
  }
}
@media (min-width: 576px) {
  .banner__container {
    left: -46px;
  }
}
/* Десктоп  */
@media (min-width: 1935px) and (hover: hover),
  (min-width: 1935px) and (pointer: fine) {
  .banner__container {
    left: -156px;
  }
}

/* Сенсорное устройство */
@media (min-width: 1921px) and (hover: none),
  (min-width: 1921px) and (pointer: coarse) {
  .banner__container {
    left: -156px;
  }
}

.banner-grid {
  display: grid;
  grid-template-areas: "old_price new_price sale button";
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: auto;
}
.banner-grid div:nth-child(1) {
  grid-area: old_price;
}
.banner-grid div:nth-child(2) {
  grid-area: new_price;
}
.banner-grid div:nth-child(3) {
  grid-area: sale;
}
.banner-grid button {
  grid-area: button;
}
@media (max-width: 767px) {
  .banner-grid {
    grid-template-areas:
      "old_price sale sale sale"
      "new_price new_price button button";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
  }
}
