.btn-primary {
  position: relative;
}
@media (pointer: fine) {
  .btn-primary:hover {
    background: theme("colors.primary-light");
    border: 1px solid theme("colors.primary-light");
  }
}

.btn-primary:active {
  background: theme("colors.primary-dark");
}

.btn-primary:focus-visible::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px dashed white;
}

.btn-primary:disabled {
  background: theme("colors.primary-light-2");
}

.btn-secondary {
  position: relative;
}
@media (pointer: fine) {
  .btn-secondary:hover {
    background: theme("colors.primary-10");
  }
}
.btn-secondary:active {
  background: theme("colors.primary-20");
}

.btn-secondary:focus-visible::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 1px dashed white;
}

.btn-secondary:disabled {
  color: theme("colors.gray-60");
  border: 1px solid theme("colors.primary-20");
}
@media (pointer: fine) {
  .btn-secondary:disabled:hover {
    background: none;
  }
}
