/* header */

.game__header::before {
  content: "";
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 50%;
  max-width: 1920px;
  width: calc(100vw - 17px);
  height: 100%;
  background: -webkit-linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 0 2%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 98%,
    theme("colors.main") 100%
  );
  background: linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 0 2%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 98%,
    theme("colors.main") 100%
  );
  background-size: 1920px auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
.game__header-img {
  -webkit-clip-path: polygon(
    5% 0%,
    100% 0%,
    100% 90%,
    95% 100%,
    0% 100%,
    0% 10%
  );
  clip-path: polygon(5% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%, 0% 10%);
}
.game__header-info {
  -webkit-clip-path: polygon(
    7% 0%,
    100% 0%,
    100% 93%,
    93% 100%,
    0% 100%,
    0% 7%
  );
  clip-path: polygon(7% 0%, 100% 0%, 100% 93%, 93% 100%, 0% 100%, 0% 7%);
}

@media (pointer: coarse) {
  .game__header::before {
    width: 100vw;
  }
}

/* editions */
.game__editions-card {
  box-sizing: border-box;
  outline-offset: -4px;
  overflow: hidden;
  position: relative;
}
.game__editions-card:hover {
  outline: 2px solid theme("colors.primary-main");
}
.game__editions-card:hover::before,
.game__editions-card:focus::before {
  content: "";
  top: -31px;
  left: -31px;
  position: absolute;
  width: 62px;
  height: 62px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: theme("colors.main");
  border: 2px solid theme("colors.primary-main");
  z-index: 53;
}
@media (max-width: 767px) {
  .game__editions-card {
    outline-offset: -2px;
  }
  .game__editions-card:hover {
    outline: 1px solid theme("colors.primary-main");
  }
  .game__editions-card:hover::before,
  .game__editions-card:focus::before {
    top: -15px;
    left: -15px;
    width: 30px;
    height: 30px;
    border: 1px solid theme("colors.primary-main");
  }
}

.configurations__button:first-child::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 12px;
  background: theme("colors.primary-main");
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}
.configurations__button:last-child::after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 12px;
  background: theme("colors.primary-main");
  -webkit-transform: skew(20deg);
  -ms-transform: skew(20deg);
  transform: skew(20deg);
}

.description__custom-scroll::after,
.description__custom-scroll::before {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 13px;
  width: 146px;
  background: theme("colors.main");
  z-index: 100;
}
.description__custom-scroll::before {
  left: 0;
}
.description__custom-scroll::after {
  right: 0;
}
@media (max-width: 1700px) {
  .description__custom-scroll::after,
  .description__custom-scroll::before {
    width: 46px;
  }
}
@media (max-width: 576px) {
  .description__custom-scroll::after,
  .description__custom-scroll::before {
    width: 16px;
  }
}
