.category {
  position: relative;
}
.category:hover::before,
.category--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 10px;
  transform: translateY(-50%);
  background: radial-gradient(
    ellipse at 50% 50%,
    theme("colors.primary-main") 70%,
    rgba(0, 0, 0, 0) 70%
  );
  z-index: -1;
  filter: blur(10px);
}
@media (max-width: 575px) {
  .category:hover::before,
  .category--active::before {
    height: 5px;
  }
}
.filter-list:focus::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 2px;
  border: 1px dashed white;
  transform: skew(-20deg);
}
@media (max-width: 991px) {
  .filter-list:focus::after {
    transform: skew(0deg);
  }
}
.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.no-arrows {
  -moz-appearance: textfield;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #333;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}
