.ganres__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    transparent 0,
    transparent 12%,
    theme("colors.primary-main") 12%,
    theme("colors.primary-main") 16%,
    transparent 16%,
    transparent 48%,
    theme("colors.primary-main") 48%,
    theme("colors.primary-main") 52%,
    transparent 52%,
    transparent 84%,
    theme("colors.primary-main") 84%,
    theme("colors.primary-main") 88%,
    transparent 88%,
    transparent 100%
  );
  filter: blur(90px);
}
.ganer:hover .ganer-text span {
  transform: skew(-5deg);
}
.ganer:hover .ganer-text span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: radial-gradient(
    circle,
    #2019e3 0%,
    theme("colors.primary-main") 42%,
    #fed200 87%
  );
  width: 50%;
  height: 50%;
  border-radius: 50%;
  filter: blur(50px);
}
.ganer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: theme("colors.primary-main");
  z-index: -1;
}
.ganer:nth-child(8n + 1),
.ganer:nth-child(8n + 2),
.ganer:nth-child(8n + 3),
.ganer:nth-child(8n + 4) {
  transform: skew(20deg);
  left: -50px;
}
.ganer:nth-child(8n + 5) .ganer-text span,
.ganer:nth-child(8n + 6) .ganer-text span,
.ganer:nth-child(8n + 7) .ganer-text span,
.ganer:nth-child(8n) .ganer-text span {
  transform: skew(20deg);
}

.ganer:nth-child(8n + 5),
.ganer:nth-child(8n + 6),
.ganer:nth-child(8n + 7),
.ganer:nth-child(8n) {
  transform: skew(-20deg);
  left: -50px;
}
.ganer:nth-child(8n + 1) .ganer-text span,
.ganer:nth-child(8n + 2) .ganer-text span,
.ganer:nth-child(8n + 3) .ganer-text span,
.ganer:nth-child(8n + 4) .ganer-text span {
  transform: skew(-20deg);
}
.ganer:nth-child(8n + 1):hover .ganer-text span,
.ganer:nth-child(8n + 2):hover .ganer-text span,
.ganer:nth-child(8n + 3):hover .ganer-text span,
.ganer:nth-child(8n + 4):hover .ganer-text span {
  transform: skew(-30deg);
}
.ganer:nth-child(8n + 5):hover .ganer-text span,
.ganer:nth-child(8n + 6):hover .ganer-text span,
.ganer:nth-child(8n + 7):hover .ganer-text span,
.ganer:nth-child(8n):hover .ganer-text span {
  transform: skew(10deg);
}
.ganer::after {
  content: "";
  position: absolute;
  top: 2px;
  z-index: 10;
  height: calc(100% - 4px);
}
.ganer:nth-child(8n + 1)::after {
  left: 50px;
  border-left: 2px solid theme("colors.primary-main");
  transform: skew(-20deg);
}
.ganer:nth-child(8n + 5)::after {
  left: 50px;
  border-left: 2px solid theme("colors.primary-main");
  transform: skew(20deg);
}
.ganer:nth-child(8n + 4)::after {
  right: 46px;
  border-right: 2px solid theme("colors.primary-main");
  transform: skew(-20deg);
}
.ganer:nth-child(8n)::after {
  right: 46px;
  border-right: 2px solid theme("colors.primary-main");
  transform: skew(20deg);
}
@media (max-width: 1439px) {
  .ganres__wrapper::before {
    background: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 10%,
      theme("colors.primary-main") 10%,
      theme("colors.primary-main") 14%,
      transparent 14%,
      transparent 36%,
      theme("colors.primary-main") 36%,
      theme("colors.primary-main") 40%,
      transparent 40%,
      transparent 61%,
      theme("colors.primary-main") 61%,
      theme("colors.primary-main") 65%,
      transparent 65%,
      transparent 88%,
      theme("colors.primary-main") 88%,
      theme("colors.primary-main") 92%,
      transparent 92%,
      transparent 100%
    );
  }

  .ganer:nth-child(6n + 1),
  .ganer:nth-child(6n + 2),
  .ganer:nth-child(6n + 3) {
    transform: skew(20deg);
    left: -50px;
  }
  .ganer:nth-child(6n + 4) .ganer-text span,
  .ganer:nth-child(6n + 5) .ganer-text span,
  .ganer:nth-child(6n) .ganer-text span {
    transform: skew(20deg);
  }
  .ganer:nth-child(6n + 4),
  .ganer:nth-child(6n + 5),
  .ganer:nth-child(6n) {
    transform: skew(-20deg);
    left: -50px;
  }
  .ganer:nth-child(6n + 1) .ganer-text span,
  .ganer:nth-child(6n + 2) .ganer-text span,
  .ganer:nth-child(6n + 3) .ganer-text span {
    transform: skew(-20deg);
  }
  .ganer:nth-child(6n + 1):hover .ganer-text span,
  .ganer:nth-child(6n + 2):hover .ganer-text span,
  .ganer:nth-child(6n + 3):hover .ganer-text span {
    transform: skew(-30deg);
  }
  .ganer:nth-child(6n + 4):hover .ganer-text span,
  .ganer:nth-child(6n + 5):hover .ganer-text span,
  .ganer:nth-child(6n):hover .ganer-text span {
    transform: skew(10deg);
  }
  .ganer:nth-child(6n + 1)::after {
    left: 50px;
    right: auto;
    border-left: 2px solid theme("colors.primary-main");
    transform: skew(-20deg);
  }
  .ganer:nth-child(6n + 4)::after {
    left: 50px;
    right: auto;
    border-left: 2px solid theme("colors.primary-main");
    transform: skew(20deg);
  }
  .ganer:nth-child(6n + 3)::after {
    right: 46px;
    left: auto;
    border-right: 2px solid theme("colors.primary-main");
    transform: skew(-20deg);
  }
  .ganer:nth-child(6n)::after {
    right: 46px;
    left: auto;
    border-right: 2px solid theme("colors.primary-main");
    transform: skew(20deg);
  }
  .ganer:nth-child(3n + 2)::after {
    border: none;
  }
}
@media (max-width: 1199px) {
  .ganres__wrapper::before {
    background: repeating-linear-gradient(
      to bottom,
      transparent 0,
      transparent 6%,
      theme("colors.primary-main") 6%,
      theme("colors.primary-main") 10%,
      transparent 10%,
      transparent 23%,
      theme("colors.primary-main") 23%,
      theme("colors.primary-main") 27%,
      transparent 27%,
      transparent 40%,
      theme("colors.primary-main") 40%,
      theme("colors.primary-main") 44%,
      transparent 44%,
      transparent 56%,
      theme("colors.primary-main") 56%,
      theme("colors.primary-main") 60%,
      transparent 60%,
      transparent 73%,
      theme("colors.primary-main") 73%,
      theme("colors.primary-main") 77%,
      transparent 77%,
      transparent 90%,
      theme("colors.primary-main") 90%,
      theme("colors.primary-main") 94%,
      transparent 94%,
      transparent 100%
    );
  }

  .ganer:nth-child(4n + 1),
  .ganer:nth-child(4n + 2) {
    transform: skew(20deg);
    left: -50px;
  }
  .ganer:nth-child(4n) .ganer-text span,
  .ganer:nth-child(4n + 3) .ganer-text span {
    transform: skew(20deg);
  }
  .ganer:nth-child(4n),
  .ganer:nth-child(4n + 3) {
    transform: skew(-20deg);
    left: -50px;
  }
  .ganer:nth-child(4n + 1) .ganer-text span,
  .ganer:nth-child(4n + 2) .ganer-text span {
    transform: skew(-20deg);
  }
  .ganer:nth-child(4n + 1):hover .ganer-text span,
  .ganer:nth-child(4n + 2):hover .ganer-text span {
    transform: skew(-30deg);
  }
  .ganer:nth-child(4n + 3):hover .ganer-text span,
  .ganer:nth-child(4n):hover .ganer-text span {
    transform: skew(10deg);
  }
  .ganer:nth-child(4n + 1)::after {
    left: 50px;
    right: auto;
    border-left: 2px solid theme("colors.primary-main");
    transform: skew(-20deg);
  }

  .ganer:nth-child(4n + 3)::after {
    left: 50px;
    right: auto;
    border-left: 2px solid theme("colors.primary-main");
    transform: skew(20deg);
  }

  .ganer:nth-child(4n + 2)::after {
    right: 46px;
    left: auto;
    border-right: 2px solid theme("colors.primary-main");
    transform: skew(-20deg);
  }

  .ganer:nth-child(4n)::after {
    right: 46px;
    left: auto;
    border-right: 2px solid theme("colors.primary-main");
    transform: skew(20deg);
  }
}

@media (max-width: 575px) {
  .ganer-text span {
    width: 80%;
    text-align: center;
  }
  .ganer-text {
    padding: 27px 25px;
  }
  .ganer:nth-child(2n + 1) .ganer-text {
    justify-content: flex-end;
  }
  .ganer:nth-child(2n) .ganer-text {
    justify-content: flex-start;
  }
}
