@media (pointer: fine) {
  .input-status:hover {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid theme("colors.primary-main");
  }
}

.input-status:focus-within {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid theme("colors.primary-main");
}

.input-status:focus-within .focus-border {
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 2px;
  z-index: -1;
  border: 1px solid transparent;
}

.input-status:focus-within .focus-border.keyboard {
  border-style: dashed !important;
  border-color: white !important;
}

.input-status:focus-within .focus-border.mouse {
  border-style: none;
}
