/* new */
.new__image {
  width: calc(100vw - 17px);
}
.new__image-container::before {
  content: "";
  position: absolute;
  top: -60px;
  left: 50%;
  max-width: 1920px;
  width: calc(100vw - 17px);
  height: calc(100% + 100px);
  background: -webkit-linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 93%,
    theme("colors.main") 100%
  );
  background: linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 93%,
    theme("colors.main") 100%
  );
  background-size: 1920px auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}
@media (pointer: coarse) {
  .new__image,
  .new__image-container::before {
    width: 100vw;
  }
}
.new-clip {
  -webkit-clip-path: polygon(
    5% 0%,
    100% 0%,
    100% 90%,
    95% 100%,
    0% 100%,
    0% 10%
  );
  clip-path: polygon(5% 0%, 100% 0%, 100% 90%, 95% 100%, 0% 100%, 0% 10%);
}
