@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .blur-edges {
    @apply absolute inset-0;
    background: linear-gradient(
      to right,
      #000 0%,
      #000 7%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      #000 93%,
      #000 100%
    );
    opacity: 0.5;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Usuzi Condensed";
  src: url("/fonts/usuzicond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Usuzi";
  src: url("/fonts/usuzi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Usuzi Halftone";
  src: url("/fonts/usuzihalf.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Usuzi Gradient";
  src: url("/fonts/usuzigrad.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Usuzi Bold";
  src: url("/fonts/usuzibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "styles/Buttons";
@import "styles/Input";
@import "styles/Header";
@import "styles/Banner";
@import "styles/QuickMenu";
@import "styles/Advantages";
@import "styles/Ganres";
@import "styles/JoinNow";
@import "styles/News";
@import "styles/GameList";
@import "styles/AboutPlatforms";
@import "styles/GamePage";
@import "styles/Cart";

.body-wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
}
/* card-corner */
.card-corner {
  position: relative;
  overflow: hidden;
}
.card-corner::before {
  content: "";
  top: -24px;
  left: -24px;
  position: absolute;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: theme("colors.main");
  z-index: 3;
}
.card-corner::after {
  content: "";
  bottom: -24px;
  right: -24px;
  position: absolute;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: theme("colors.main");
  z-index: 3;
}
@media (max-width: 767px) {
  .card-corner::before {
    top: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
  }
  .card-corner::after {
    bottom: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
  }
}
/* scroll-bar */

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-arrows {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* grab */

.no-drag {
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* caret */

.custom-caret {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: 24px;
  background: theme("colors.primary-main");
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: theme("colors.2");
  padding: 4px;
  margin-right: 8px;
  cursor: pointer;
  opacity: 0.1;
  pointer-events: auto;
}

/* header */
.header {
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .header::before {
    content: "";
    position: absolute;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: 100%;
    height: 100%;
    background: #1717179a;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: -1;
  }
}
/* game-card */

.favorite::before {
  content: "";
  position: absolute;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.sale-time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000006a;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}

/* join-review */

.join-review {
  box-sizing: border-box;
  outline: 1px solid theme("colors.primary-main");
  -webkit-box-shadow: inset 0 0px 15px 1px theme("colors.primary-main");
  -moz-box-shadow: inset 0 0px 15px 1px theme("colors.primary-main");
  box-shadow: inset 0 0px 15px 1px theme("colors.primary-main");
  outline-offset: -2px;
  overflow: hidden;
  position: relative;
}
.join-review::before {
  content: "";
  top: -24px;
  left: -24px;
  position: absolute;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background: theme("colors.main");
  border: 1px solid theme("colors.primary-main");
  z-index: 3;
  box-shadow: 0 0px 15px 1px theme("colors.primary-main");
}
.join-review::after {
  content: "";
  bottom: -24px;
  right: -24px;
  position: absolute;
  width: 48px;
  height: 48px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 3;
  background: theme("colors.main");
  border: 1px solid theme("colors.primary-main");
  box-shadow: 0 0px 15px 1px theme("colors.primary-main");
}
@media (max-width: 767px) {
  .join-review::before {
    top: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
  }
  .join-review::after {
    bottom: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
  }
}

/* sicial-link */
.link-icon:focus {
  outline: none;
  position: relative;
}

.link-icon:focus-visible::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px dashed white;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  border-radius: inherit;
  pointer-events: none;
}

.link-icon:active {
  background-color: theme("colors.primary-10");
}

/* slider-track */

.slider-track__container {
  max-width: 1920px;
  width: calc(100vw - 17px);
}
.slider-track {
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media (pointer: coarse) {
  .slider-track__container {
    width: 100vw;
  }
}

/* account__link */
.account-menu {
  width: calc(100vw - 17px);
}
@media (pointer: coarse) {
  .account-menu {
    width: 100vw;
  }
}
.account__link:hover::before,
.account__link--active::before,
.account__link:focus-visible::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background: theme("colors.primary-main");
  -webkit-filter: blur(15px);
  filter: blur(15px);
  z-index: -1;
}
@media (max-width: 575px) {
  .account__link:hover::before,
  .account__link--active::before {
    height: 4px;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
}

/* orders */
.orders-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.2fr 1.5fr 1.3fr 1fr 1.2fr 1fr;
  grid-template-columns: 1.2fr 1.5fr 1.3fr 1fr 1.2fr 1fr;
}
.order-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 1.3fr 1.2fr 1.1fr 1.1fr 1fr;
  grid-template-columns: 1.6fr 1.3fr 1.2fr 1.1fr 1.1fr 1fr;
}
@media (max-width: 1199px) {
  .orders-grid {
    display: none;
  }
  .order-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
/* support */

.trash-icon::before {
  content: "";
  position: absolute;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #ffffff1a;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.custom-scrollbar-h::-webkit-scrollbar {
  height: 6px;
}
.custom-scrollbar-h::-webkit-scrollbar-track {
  background: #333;
}
.custom-scrollbar-h::-webkit-scrollbar-thumb {
  background-color: #666;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.custom-scrollbar-h::-webkit-scrollbar-button {
  display: none;
}
@media (max-width: 767px) {
  .custom-scrollbar-h::-webkit-scrollbar {
    height: 4px;
  }
}

.home__slider::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 17px);
  height: 100%;
  background: -webkit-linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 93%,
    theme("colors.main") 100%
  );
  background: linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 93%,
    theme("colors.main") 100%
  );
  z-index: 2;
}
.home__slider::after {
  content: "";
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 17px);
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    theme("colors.dark") 0%,
    theme("colors.dark") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.dark") 93%,
    theme("colors.dark") 100%
  );
  background: linear-gradient(
    to right,
    theme("colors.dark") 0%,
    theme("colors.dark") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.dark") 93%,
    theme("colors.dark") 100%
  );
  z-index: 1;
}
@media (min-width: 1921px) {
  .home__slider::after {
    display: block;
  }
}
@media (pointer: coarse) {
  .home__slider,
  .home__slider::before,
  .home__slider::after {
    width: 100vw;
  }
}
.home__slide-img::before {
  content: "";
  display: none;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1608px;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    to right,
    theme("colors.dark") 0%,
    theme("colors.dark") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.dark") 93%,
    theme("colors.dark") 100%
  );
  background: linear-gradient(
    to right,
    theme("colors.dark") 0%,
    theme("colors.dark") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.dark") 93%,
    theme("colors.dark") 100%
  );
  z-index: 1;
}
@media (min-width: 1292px) {
  .home__slide-img::before {
    display: block;
  }
}
