@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Usuzi Condensed";
  src: url("/fonts/usuzicond.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Usuzi";
  src: url("/fonts/usuzi.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Usuzi Halftone";
  src: url("/fonts/usuzihalf.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Usuzi Gradient";
  src: url("/fonts/usuzigrad.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Usuzi Bold";
  src: url("/fonts/usuzibold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@import "styles/Buttons";
@import "styles/Header";
@import "styles/Input";
@import "styles/Banner";
@import "styles/QuickMenu";
@import "styles/Advantages";
@import "styles/Ganres";
@import "styles/JoinNow";
@import "styles/News";
@import "styles/GameList";
@import "styles/AboutPlatforms";
@import "styles/GamePage";
@import "styles/Cart";

/* card-corner */
.card-corner {
  position: relative;
  overflow: hidden;
}
.card-corner::before {
  content: "";
  top: -32px;
  left: -32px;
  position: absolute;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  background: theme("colors.main");
  z-index: 3;
}
.card-corner::after {
  content: "";
  bottom: -32px;
  right: -32px;
  position: absolute;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  background: theme("colors.main");
  z-index: 3;
}
@media (max-width: 767px) {
  .card-corner::before {
    top: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
  }
  .card-corner::after {
    bottom: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
  }
}
/* scroll-bar */

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-arrows {
  -moz-appearance: textfield;
}
.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* grab */

.no-drag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
}

/* game-card */

.favorite::before {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}
.sale-time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0000006a;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}

/* join-review */

.join-review {
  box-sizing: border-box;
  outline: 2px solid theme("colors.primary-main");
  box-shadow: inset 0 0px 15px 1px theme("colors.primary-main");
  outline-offset: -2px;
  overflow: hidden;
  position: relative;
}
.join-review::before {
  content: "";
  top: -32px;
  left: -32px;
  position: absolute;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  background: theme("colors.main");
  border: 2px solid theme("colors.primary-main");
  z-index: 3;
}
.join-review::after {
  content: "";
  bottom: -32px;
  right: -32px;
  position: absolute;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  background: theme("colors.main");
  border: 2px solid theme("colors.primary-main");
  z-index: 3;
}
@media (max-width: 767px) {
  .join-review::before {
    top: -16px;
    left: -16px;
    width: 32px;
    height: 32px;
  }
  .join-review::after {
    bottom: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
  }
}

/* payment */

.success {
  box-shadow: 0px 0px 20px 0px theme("colors.primary-main");
}
.failed {
  box-shadow: 0px 0px 20px 0px theme("colors.red");
}
.grid-scroll {
  grid-auto-flow: column;
  grid-template-columns: minmax(140px, 1fr);
}
/* sicial-link */
.link-icon:focus {
  outline: none;
  position: relative;
}

.link-icon:focus-visible::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px dashed white;
  border-radius: inherit;
  pointer-events: none;
}

.link-icon:active {
  background-color: theme("colors.primary-10");
}

.slider-track {
  will-change: transform;
  backface-visibility: hidden;
}

/* account__link */

.account__link:hover::before,
.account__link--active::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 8px;
  background: theme("colors.primary-main");
  filter: blur(15px);
  z-index: -1;
}
@media (max-width: 575px) {
  .account__link:hover::before,
  .account__link--active::before {
    height: 4px;
    filter: blur(10px);
  }
}

/* orders */
.orders-grid {
  grid-template-columns: 1.5fr 1.5fr repeat(4, 1fr);
}
.order-grid {
  grid-template-columns: 1.5fr 1.5fr repeat(4, 1fr);
}
@media (max-width: 1199px) {
  .order-grid {
    grid-template-columns: 1fr;
  }
}
/* support */

.trash-icon::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
}
.custom-scrollbar-h::-webkit-scrollbar {
  height: 8px;
}
.custom-scrollbar-h::-webkit-scrollbar-track {
  background: #333;
}
.custom-scrollbar-h::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 4px;
}
.custom-scrollbar-h::-webkit-scrollbar-button {
  display: none;
}
@media (max-width: 767px) {
  .custom-scrollbar-h::-webkit-scrollbar {
    height: 4px;
  }
}

/* home slider */

.home__slider {
  width: calc(100vw - 15px);
  max-width: 1920px;
}
.home__slider {
  left: -16px;
}
.home__slider::before {
  content: "";
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 1920px;
  width: calc(100vw - 15px);
  height: 100%;
  background: linear-gradient(
    to bottom,
    theme("colors.main") 0%,
    theme("colors.main") 7%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0) 80%,
    theme("colors.main") 93%,
    theme("colors.main") 100%
  );
  background-size: 1920px auto;
  z-index: 1;
}
@media (max-width: 1920px) {
  .home__slider,
  .home__slider::before {
    max-width: 1700px;
  }
}
@media (pointer: coarse) {
  .home__slider,
  .home__slider::before {
    width: 100vw;
  }
}
@media (max-width: 1920px) {
  .home__slider {
    max-width: 1700px;
  }
}
@media (min-width: 576px) {
  .home__slider {
    left: -46px;
  }
}
/* Десктоп  */
@media (min-width: 1935px) and (hover: hover),
  (min-width: 1935px) and (pointer: fine) {
  .home__slider {
    left: -156px;
  }
}

/* Сенсорное устройство */
@media (min-width: 1921px) and (hover: none),
  (min-width: 1921px) and (pointer: coarse) {
  .home__slider {
    left: -156px;
  }
}

.home__slide {
  max-width: 1700px;
}
@media (min-width: 1921px) {
  .home__slide {
    max-width: 1920px;
  }
}
